.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 3rem;
}

.footer {
  background: var(--very-dark-blue);
  color: white;
  padding: 3.2rem;
  display: flex;
  justify-content: space-around;
}

.footer-nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.footer-nav img {
  margin-right: 2rem;
}

.footer-nav a {
  letter-spacing: 0.2rem;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: 0.2s;
}

.footer-nav a:hover {
  color: var(--soft-red);
}

.social-media {
  display: flex;
  gap: 4rem;
}

.social-media img {
  cursor: pointer;
}

.social-media img:hover {
  filter: invert(70%) sepia(60%) saturate(5507%) hue-rotate(322deg)
    brightness(94%) contrast(110%);
}

@media (max-width: 758px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .footer-nav svg {
    margin-bottom: 2rem;
  }

  .footer-nav {
    flex-direction: column;
    gap: 0;
  }

  .footer-nav a {
    padding: 2rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 577px) {
  body {
    font-size: 1.6rem;
  }

  .title {
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
}
