.contact-section {
  background: var(--soft-blue);
  display: grid;
  place-items: center;
  gap: 3.5rem;
  padding: 6rem 2rem 7rem 2rem;
  color: white;
}

.contact-section .btn-red {
  background-color: var(--soft-red);
  border-color: var(--soft-red);
  color: white;
}

.contact-section .btn-red:hover {
  background-color: white;
  color: var(--soft-red);
}

.data-contact {
  letter-spacing: 0.5rem;
  font-size: 1.4rem;
  line-height: 2;
  text-align: center;
}

.title-contact {
  font-weight: 500;
  font-size: 3.2rem;
  max-width: 45rem;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 1.5;
}

.form-contact {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 50%;
}

.wrapper-input {
  width: 60%;
  position: relative;
  transition: 0.4s;
}

.wrapper-input.error-input::before {
  content: "";
  display: block;
  height: 160%;
  width: 101.5%;
  background-color: var(--soft-red);
  position: absolute;
  top: -0.2rem;
  left: -0.22rem;
  border-radius: 0.5rem;
  color: white;
}

.wrapper-input.error-input::after {
  content: "Whoops, make sure it's an email or isn't blank";
  position: absolute;
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  padding: 0.4rem 1rem;
}

.form-contact input {
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 1.2rem 2rem;
  border: 0;
  border-radius: 0.5rem;
  color: var(--very-dark-blue);
  position: relative;
  z-index: 1000;
}

.form-contact input:focus {
  outline-color: transparent;
  outline-width: 0;
}

.form-contact input::placeholder {
  color: var(--grayish-blue);
}

@media (max-width: 948px) {
  .form-contact {
    flex-direction: column;
  }

  .form-contact .wrapper-input {
    width: 100%;
  }

  .wrapper-input.error-input {
    margin-bottom: 1.8rem;
  }
}

@media (max-width: 544px) {
  .form-contact {
    width: 80%;
  }

  .title-contact {
    font-size: 2.8rem;
  }
}
