.features-bookmark {
  display: grid;
  gap: 4.4rem;
  margin-bottom: 12rem;
}

.wrapper {
  width: 80rem;
  position: relative;
  margin: auto;
}

.wrapper::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 0.1px solid var(--grayish-blue);
  opacity: 0.4;
  margin-top: 1.5rem;
}

.tabs-features {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.title-tab-features {
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  cursor: pointer;
  color: var(--grayish-blue);
  transition: 0.2s;
  text-align: center;
}

.title-tab-features:hover {
  color: var(--soft-red);
}

.title-tab-features.tab-selected {
  color: var(--very-dark-blue);
}

.title-tab-features.tab-selected.tab1::after,
.title-tab-features.tab-selected.tab2::after,
.title-tab-features.tab-selected.tab3::after {
  content: "";
  display: block;
  border: 2px solid var(--soft-red);
  margin: auto;
  transform: translateY(3rem);
  width: 100%;
}

.info-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  height: 45rem;
}

.text-info-box {
  flex: 1 0 auto;
  max-width: 45rem;
  width: 100%;
}

.text-info-box .paragraph,
.text-info-box .title {
  text-align: left;
}

.text-info-box .btn-blue {
  margin-top: 2.6rem;
}

@media (max-width: 1094px) {
  .info-box {
    height: auto;
    text-align: center;
  }
  .text-info-box {
    max-width: 60rem;
  }

  .text-info-box .paragraph,
  .text-info-box .title {
    text-align: center;
  }
}
/* 
@media (max-width: 889px) {
  .wrapper {
    width: 67rem;
  }

  .title-tab-features.tab-selected.tab1::after {
    width: 25rem;
  }

  .title-tab-features.tab-selected.tab2::after {
    left: 25.1rem;
    width: 22.5rem;
  }

  .title-tab-features.tab-selected.tab3::after {
    width: 20rem;
  }
} */

@media (max-width: 860px) {
  .wrapper {
    width: 100%;
  }
  .tabs-features {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .title-tab-features {
    border-top: 0.4px solid rgba(145, 148, 161, 0.4);
    padding: 2rem;
  }

  .tabs-features span:nth-child(3) {
    border-bottom: 0.4px solid rgba(145, 148, 161, 0.4);
  }

  .wrapper::after {
    display: none;
  }

  .title-tab-features.tab-selected.tab1::after,
  .title-tab-features.tab-selected.tab2::after,
  .title-tab-features.tab-selected.tab3::after {
    width: 50%;
    transform: translateY(2rem);
  }
}
