.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.5rem;
  height: 9rem;
}

.navigation-header {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navigation-header a,
.navigation-header .btn-red {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.navigation-header a {
  font-size: 1.4rem;
  font-weight: 400;
  transition: 0.2s;
}

.navigation-header a:hover {
  color: var(--soft-red);
}

.navigation-header .btn-red {
  background-color: var(--soft-red);
  border-color: var(--soft-red);
  color: white;
}

.navigation-header .btn-red:hover {
  background-color: white;
  color: var(--soft-red);
}

.burger-menu {
  display: none;
  background: url(../assets/icon-hamburger.svg) no-repeat center / cover;
  width: 2.5rem;
  height: 2rem;
  cursor: pointer;
}

@media (max-width: 895px) {
  .burger-menu {
    display: block;
  }

  .navigation-header {
    display: none;
  }

  .header.active {
    display: block;
    background-color: rgba(37, 43, 70, 0.95);
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    padding: 4.5rem 3.5rem;
  }

  .header.active svg path:first-child {
    fill: white;
  }

  .header.active svg circle {
    fill: white;
  }

  .header.active svg .flag-logo {
    fill: rgba(37, 43, 70, 0.9);
  }

  .header.active .navigation-header {
    display: flex;
    flex-direction: column;
    gap: 0;
    color: white;
    margin-top: 5rem;
  }

  .header.active .navigation-header a {
    display: block;
    width: 100%;
    border-top: 0.4px solid rgba(145, 148, 161, 0.4);
    padding: 2.5rem;
    font-size: 1.8rem;
    text-align: center;
  }

  .header.active .navigation-header .btn-red {
    width: 100%;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 1.8rem;
    box-shadow: none;
  }

  .header.active .navigation-header .btn-red:hover {
    background: white;
    color: rgba(37, 43, 70, 0.9);
  }

  .header.active .burger-menu {
    display: block;
    background: url(../assets/icon-close.svg) no-repeat center / cover;
    z-index: 10000;
    width: 1.8rem;
    height: 1.5rem;
    position: absolute;
    top: 4.5rem;
    right: 4.5rem;
  }
}
