.title-section {
   max-width: 55rem;
   margin: auto;
}

.title {
   color: var(--very-dark-blue);
   text-align: center;
   font-weight: 500;
   font-size: 3.2rem;
   line-height: 2.5;
}

.paragraph {
   text-align: center;
   color: var(--grayish-blue);
   line-height: 1.6;
}
